/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(17, 17, 17);
  --bg-opaque: rgb(17, 17, 17, 0.25);
  --background-light: rgb(35, 35, 35);
  --background-dark: rgb(8, 8, 8);

  --text: rgb(235, 236, 243);
  --primary: #bd5fff;
}

body {
  color: var(--text);
  background: var(--background);
}

html,
body {
  max-width: 100vw;
  scroll-behavior: smooth;
  font-size: var(--text-sm);
}

.home {
  display: grid;
  grid-template-columns: 60px 1fr;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: linear-gradient(180deg, var(--background), var(--text));
  opacity: 0.35;
}

.dotWrapper:hover {
  background: rgba(255, 255, 255, 0.15);
}

.dotWrapper:hover > .dot {
  background: linear-gradient(
    180deg,
    var(--background),
    var(--brand)
  ) !important;
  opacity: 1 !important;
}

.section-wrapper {
  position: relative;
  z-index: 10;
  max-width: 1150px;
  margin: auto;
  padding: 9.6rem;
  overflow: hidden;
}

.hero {
  margin-top: 4rem;
  margin-bottom: 25rem;
  padding: 4rem 2.5rem;
  @media (max-width: 980px) {
    padding: 0 2rem;
    margin-top: 1.5rem;
    margin-bottom: 4.8rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.heading {
  height: calc(45px + 3.6rem);
  padding: 0 3.6rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: sticky;
  top: 0;
  z-index: 20;
  background: var(--bg-opaque);
  backdrop-filter: blur(12px);

  font-size: var(--text-md);
  font-weight: bold;

  @media (max-width: 768px) {
    padding: 0 2.4rem;
  }
}
.sidebar {
  a {
    height: 100px;
    flex-shrink: 0;
    writing-mode: vertical-lr;
    font-size: var(--text-sm);
    font-weight: 200;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    border-right: 1px solid transparent;
    transition: 0.1s all;
    width: 100%;
  }

  a:hover {
    background: var(--background);
    border-right: 1px solid var(--brand);
    opacity: 1;
  }

  .selected {
    background: var(--background);
    border-right: 1px solid var(--brand);
    opacity: 1;
  }
}

.logo {
  cursor: pointer;
  flex-shrink: 0;

  font-size: var(--text-md);
  font-weight: 900;
  line-height: 1;

  width: 45px;
  height: 45px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--background);
  border-radius: 4px;

  margin: 1.8rem 0;

  span {
    font-size: var(--text-md);
    font-weight: 900;
    line-height: 1;
    color: var(--brand);
  }
}

.sideBar::-webkit-scrollbar {
  display: none;
}

/* Button */

.standardButton {
  background: var(--primary);
  color: var(--text);
}

.outlineButton:hover {
  color: var(--text);
}

.outlineButton::before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--brand);
  height: 100%;
  width: 100%;
  left: -100%;
  top: -100%;
  transition: 0.2s left, 0.2s top;
}
