/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(17, 17, 17);
  --bg-opaque: rgb(17, 17, 17, 0.25);
  --background-light: rgb(35, 35, 35);
  --background-dark: rgb(8, 8, 8);

  --text: rgb(235, 236, 243);
}

body {
  color: var(--text);
  background: var(--background);
}

.home {
  display: grid;
  grid-template-columns: 60px 1fr;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: linear-gradient(180deg, var(--background), var(--text));
  opacity: 0.35;
}

.dotWrapper:hover {
  background: rgba(255, 255, 255, 0.15);
}

.dotWrapper:hover > .dot {
  background: linear-gradient(
    180deg,
    var(--background),
    var(--brand)
  ) !important;
  opacity: 1 !important;
}

.section-wrapper {
  position: relative;
  z-index: 10;
  max-width: 1150px;
  margin: auto;
  padding: 9.6rem;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.heading {
  height: calc(45px + 3.6rem);
  padding: 0 3.6rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: sticky;
  top: 0;
  z-index: 20;
  background: var(--bg-opaque);
  backdrop-filter: blur(12px);

  font-size: var(--text-md);
  font-weight: bold;

  @media (max-width: 768px) {
    padding: 0 2.4rem;
  }
}
